---
- name: Add the group 'zabbix' with correct gid
  ansible.builtin.group:
    name: zabbix
    state: present
    gid: "{{ zabbix_gid }}"

- name: Add the user 'zabbix' with a specific uid and a primary group of 'zabbix'
  ansible.builtin.user:
    name: zabbix
    group: zabbix
    shell: /sbin/nologin
    comment: Zabbix monitoring system
    uid: "{{ zabbix_uid }}"
    state: present

- name: Ensure docker users are added to the docker group.
  user:
    name: "{{ item }}"
    groups: docker
    append: true
  with_items: "{{ docker_users }}"

- name: Reset ssh connection to apply user changes.
  meta: reset_connection