---
# Zabbix API v2 tasks using community.zabbix httpapi plugin

- name: Install Ansible collections from requirements.yml
  ansible.builtin.command:
    cmd: "ansible-galaxy collection install -r {{ collections_requirements_path }}"
  when: zabbix_install_requirements | bool
  delegate_to: localhost
  run_once: true
  changed_when: false
  tags: [api]

- name: Load platform-specific variables
  include_vars:
    dir: vars
  no_log: true

- name: API | Derive httpapi connection vars from zabbix_api_url
  ansible.builtin.set_fact:
    ansible_network_os: community.zabbix.zabbix
    ansible_connection: httpapi
    ansible_httpapi_port: "{{ zabbix_api_port }}"
    ansible_httpapi_use_ssl: "{{ zabbix_api_use_ssl }}"
    ansible_httpapi_validate_certs: "{{ zabbix_api_validate_certs }}"
    ansible_zabbix_url_path: "{{ zabbix_api_path }}"
    ansible_zabbix_auth_key: "{{ zabbix_api_token }}"
    ansible_host: "{{ zabbix_api_host }}"
  when:
    - zabbix_api_host | length > 0
    - zabbix_api_token | length > 0
  become: false
  delegate_to: localhost
  run_once: true
  tags: [api]

- name: API | Create hostgroups
  community.zabbix.zabbix_group:
    host_group: "{{ zabbix_host_groups }}"
    state: "{{ zabbix_create_hostgroup }}"
  when:
    - zabbix_api_create_hostgroup | bool
  register: zabbix_api_hostgroup_created
  until: zabbix_api_hostgroup_created is succeeded
  delegate_to: localhost
  become: false
  run_once: true
  tags: [api]

- name: API | Create or update a proxy with proxy type active
  community.zabbix.zabbix_proxy:
    proxy_name: "{{ zbx_proxy_hostname }}"
    description: "Zabbix Proxy Docker deployed"
    operating_mode: active
    state: present
    allowed_addresses: "{{ zbx_proxy_source_ip if zbx_proxy_source_ip != '' else omit }}"
    tls_accept: "PSK"
    tls_connect: "PSK"
    tls_psk_identity: "{{ zbx_proxy_psk_identity | default(omit) }}"
    tls_psk: "{{ zbx_pskfile_secret | default(omit) }}"
  when:
    - zabbix_api_create_proxy | bool
    - zabbix_api_proxy | length > 0
    - zabbix_deployment_mode in ['proxy_agent','proxy']
  register: zabbix_api_proxy_created
  until: zabbix_api_proxy_created is succeeded
  delegate_to: localhost
  become: false
  run_once: true
  tags: [api]

- name: Wait for Zabbix server port (10051) on localhost
  wait_for:
    host: "{{ zbx_server_source_ip | default('127.0.0.1') }}"
    port: 10051
    delay: 2
    timeout: 120
  when:
    - zabbix_deployment_mode in ['server_agent']
  run_once: true

- name: Wait for Zabbix proxy port (10051) on localhost
  wait_for:
    host: "{{ zbx_proxy_source_ip | default('127.0.0.1') }}"
    port: 10051
    delay: 2
    timeout: 120
  when:
    - zabbix_deployment_mode in ['proxy_agent','proxy']
  run_once: true

- name: API | Create or update host
  community.zabbix.zabbix_host:
    host_name: "{{ zabbix_agent_hostname }}"
    host_groups: "{{ zabbix_host_groups }}"
    link_templates: "{{ zabbix_link_templates }}"
    status: "{{ zabbix_host_status }}"
    state: "{{ zabbix_create_host }}"
    force: "{{ zabbix_update_host }}"
    proxy: "{{ zabbix_api_proxy }}"
    monitored_by: "{{ (zabbix_api_proxy | length > 0) | ternary('proxy', 'zabbix_server') }}"
    interfaces: "{{ zabbix_agent_interfaces }}"
    visible_name: "{{ zabbix_visible_hostname | default(zabbix_agent_hostname) }}"
    tls_psk: "{{ zabbix_agent_tlspsk_secret | default(omit) }}"
    tls_psk_identity: "{{ zabbix_agent_tlspskidentity | default(omit) }}"
    tls_accept: "{{ (zabbix_agent_tls_config[zabbix_agent_tlsaccept if zabbix_agent_tlsaccept else 'unencrypted']) | int }}"
    tls_connect: "{{ (zabbix_agent_tls_config[zabbix_agent_tlsconnect if zabbix_agent_tlsconnect else 'unencrypted']) | int }}"
    inventory_zabbix: "{{ zabbix_agent_inventory_zabbix | default({}) }}"
  notify: restart docker zabbix agent
  when:
    - zabbix_api_create_hosts | bool
  register: zabbix_api_host_created
  until: zabbix_api_host_created is succeeded
  delegate_to: localhost
  become: false
  changed_when: false
  tags: [api]
