---
# tasks file for install_zabbix_docker
# chown -R 1997:1995 /var/lib/zabbix/

- name: Create subfolder for container
  file:
    path: "{{ item }}"
    recurse: true
    state: directory
    group: zabbix
    owner: zabbix
  with_items: "{{ zbx_container_directory_local }}"
  register: result_create_path

- name: Check path for TLSPSK
  stat:
    path: "{{ zbx_volumes_local_path }}/var/enc"
  register: check_path_tlspsk

- name: Generate or check TLSPSK
  include_tasks: autopsk_setup.yml
  when: check_path_tlspsk.stat.exists

- name: preparation docker-compose file
  include_tasks: docker_prepare.yml
  when: check_path_tlspsk.stat.exists

- name: Container Zabbix deploy
  community.docker.docker_compose_v2:
    project_src: "{{ zbx_project_path }}"
    state: "{{ zbx_container_state }}"
  register: check_container
  when: check_path_docker_compose_file.stat.exists

- name: preparation docker-compose file
  include_tasks: api.yml
  when: 
    - check_container is defined
    - (check_container.failed | default(false)) == false
    - zabbix_api_create_hosts | bool

- name: Pre-pull Zabbix images for selected mode
  community.docker.docker_image:
    name: "{{ item }}"
    source: pull
  loop: "{{
    (
      [ 'zabbix/{{ zabbix_server_image }}:{{ zabbix_image_tag }}',
        'zabbix/{{ zabbix_web_server_image }}:{{ zabbix_image_tag }}',
        'zabbix/{{ zabbix_web_service_image }}:{{ zabbix_image_tag }}',
        'zabbix/{{ zabbix_agent_image }}:{{ zabbix_image_tag }}',
        mysql_server_image
      ] if zabbix_deployment_mode == 'server_agent' else
      [ 'zabbix/{{ zabbix_proxy_image }}:{{ zabbix_image_tag }}',
        'zabbix/{{ zabbix_agent_image }}:{{ zabbix_image_tag }}'
      ] if zabbix_deployment_mode == 'proxy_agent' else
      [ 'zabbix/{{ zabbix_proxy_image }}:{{ zabbix_image_tag }}' ] if zabbix_deployment_mode == 'proxy' else
      [ 'zabbix/{{ zabbix_agent_image }}:{{ zabbix_image_tag }}' ]
    )
  }}"
  when:
    - zbx_container_state == 'present'
    - zbx_docker_compose_tmp is defined