---
## Ansible infrastructure
# ansible-playbook playbooks/pl_zbx_docker_setup_local.yml -bK

- name: Zabbix Proxy + Agent (local)
  hosts: localhost
  connection: local
  become: true
  gather_facts: true

  vars:
    # Version of Zabbix to deploy
    zabbix_version: '7.4.5'
    zabbix_image_flavor: "alpine"

    #! Zabbix deployment mode: 
    zabbix_deployment_mode: 'proxy_agent'

    #! for .env_agent
    # Agent connects to the Proxy service
    zbx_agent_server_host: 'zabbix-proxy' 

    # Agent hostname as shown in Zabbix
    zbx_agent_hostname: 'agent-hostname'

    #! for API
    api_zabbix_proxy: "z-proxy-Test" # Name of proxy in Zabbix server
    zabbix_host_groups:
      - "Zabbix-Proxy"
    zabbix_link_templates:
      - "Linux by Zabbix agent"

    #! for .env_prx
    # Proxy sends data to the server; use compose service or external IP/FQDN
    zbx_proxy_server_host: 'zabbix-server'

    # Proxy identity shown in Zabbix
    zbx_proxy_hostname: 'zbx-proxy-hostname'

  tasks:
      # Install Docker on non-Windows control machines only
    - name: Role install docker
      include_role:
        name: install_docker
      vars:
        docker_users:
          - administrator
          - zabbix
        docker_daemon_options:
          log-driver: "json-file"
          log-opts:
            max-size: "100m"
            max-file: "3"
      when: ansible_os_family != 'Windows'
      # Install Zabbix Docker stack
    - name: Role install_zabbix_docker
      include_role:
        name: install_zabbix_docker
      vars:
        zbx_container_state: 'present' # 'absent'
      when: ansible_os_family != 'Windows'
